:root {
  --main-hero-color: #2e2f42;
  --main-text-color: #434455;
  --main-background-color: #ffffff;
}

body {
  /* font-family: "Raleway", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--main-background-color);
  color: #434455; /*var(-main-text-color)*/
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* --------- HEADER ----------------------------------------- */

.header {
  background-color: #ffffff;
}

.logo-top {
  text-decoration: none;
}

.logo-top {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* IRIS */
  color: #4d5ae5;
  font-style: normal;
}

.logo-top-second {
  /* NAVY BLUE */
  color: #2e2f42;
}

.header-address {
  font-style: normal;
}
.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  /* OCEAN */
  color: #404bbf;
}

.adress-info {
  font-weight: 400;
  font-size: 16px;
  line-height: (24/16);
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  /* font-style: normal; */
}
/*  font-style: normal; for auto cheak -this is up :-)*/

/* --------- HERO ----------------------------------------- */

.hero {
  /* NAVY BLUE */
  background: var(--main-hero-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07; /*60px*/
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-botton {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}

.hero-botton:hover,
.hero-botton:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/* --------- ADVANTEGE ----------------------------------------- */

.advantage-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}
.advantage-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}

/* --------- DOING  ----------------------------------------- */

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11; /* 40px -> calc(40 / 36)* auto test ERROR*/
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: #2e2f42;
}

/* --------- TEAM  ----------------------------------------- */

.team {
  /* CLOUD */
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11; /* 40px -> calc(40 / 36)* auto test ERROR*/
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* NAVY BLUE */
  color: #2e2f42;
}

.team-item {
  background-color: #ffffff;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  text-align: center;
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
  background-color: #ffffff;
}
.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
  background-color: #ffffff;
}

/* --------- FOOTER  ----------------------------------------- */

.footer {
  /* NAVY BLUE */
  background-color: #2e2f42;
}
.logo-bottom {
  text-decoration: none;
}

.logo-bottom {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17; /*calc(21 / 18)*/
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-style: normal; /*!!! in link this OK*/
}

.logo-bottom-second {
  /* CLOUD */
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* CORNFLOWER */
  color: #e7e9fc;
}

/* --------- FILTER  ----------------------------------------- */

.filter-button-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /*24px*/
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  /* IRIS */
  color: #4d5ae5;
  /* CLOUD */
  background-color: #f4f4fd;
  border-style: none;
}

.filter-button-text:hover,
.filter-button-text:focus {
  color: #ffffff;
  /* OCEAN */
  background-color: #404bbf;
  cursor: pointer;
}

/* --------- GALLERY  ----------------------------------------- */

.galley-item-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2; /*24px*/
  letter-spacing: 0.02em;
  /* NAVY BLUE */
  color: #2e2f42;
}
.gallery-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  /* SLATE */
  color: #434455;
}
